body {
    margin: 0;
    padding: 0;
}
.flag-container {
    width: 100vw;
    height: 50vw;
    background-color: red;
    display: flex;
    border: 1px solid gray;
}
.white {
    width: 50vw;
    height: 50vw;
    background-color: white;
    margin: auto;
    position: relative;
}
.white::before {
    content: '';
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 8%;
    background: url('images/canada_logo.png') no-repeat;
    transform: rotateZ(28deg);
    background-size: contain;
}