body {
    margin: 0;
    padding: 0;
}
.flag-container {
    width: 100vw;
    height: 50vw;
    background-color: white;
    display: flex;
    border: 1px solid gray;
}
.circle {
    width: 35vw;
    height: 35vw;
    background-color: red;
    border-radius: 50%;
    margin: auto;
}