body {
    margin: 0;
    padding: 0;
}
.flag-container {
    width: 100vw;
    height: 50vw;
    border: 1px solid #9a9a9a;
    display: flex;
}
.green {
    background-color: green;
    width: 100%;
}
.white {
    background-color: white;
    width: 100%;
}
.orange {
    background-color: orange;
    width: 100%;
}